.section-productos {
    text-align: center;

    .productos-container {
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
        flex-wrap: wrap;

        .producto {
            width: 23%;
            font-family: 'MoriaCitadel';
            min-width: 250px;
            margin: 15px 0;
            padding: 10px 12px;
            border-radius: 20px;
            border: 1px solid #cce7d0;
            cursor: pointer;
            

             & img {
                width: 100%;
                border-radius: 20px;
            }
                        box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
            transition: 0.8s ease;
            position: relative;

            & img {
                width: 100%;
                border-radius: 20px;
                height: 250px;
                object-fit: contain;
                display: block;
            }

            .producto-descripcion {
                text-align: start;
                font-family: 'MoriaCitadel';
                padding: 10px 0;
                min-height: 80px;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;

                & span {
                    color: #606063;
                    font-family: 'MoriaCitadel';
                    font-size: 12px;
                }

                & h5 {
                    padding-top: 7px;
                    font-family: 'MoriaCitadel';
                    color: #1a1a1a;
                    font-size: 16px;
                }

                & h4 {
                    padding-top: 7px;
                    font-family: 'MoriaCitadel';
                    font-size: 18px;
                    font-weight: 700;
                    color: #68025f;
                    margin-top: auto;
                }
            }


        }

        .producto:hover {
            box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.15);
        }
    }

}

@media (max-width: 1200px) {
    .section-productos .productos-container {
        justify-content: space-around;
    }
    
    .section-productos .productos-container .producto {
        margin: 15px 10px;
    }
}